<div class="question-cards">
  <h2>Vrai ou Faux ?</h2>
  <h1><%= @question.content %></h1>
  <div class="question-answer">
    <p class="button-filter">VRAI</p>
    <p class="button-filter">FAUX</p>
  </div>
</div>
