<div class="progression-cards">
  <div class="progression-card">
    <h1><%= @courses_done %></h1>
    <h2>Cours Terminés</h2>
  </div>

  <div class="progression-card">
    <h1>4</h1>
    <h2>Quizz Terminés</h2>
  </div>


  <div class="progression-card">
    <h1>78%</h1>
    <h2>Progression Globale</h2>
  </div>
</div>
