<div class="progression-cards">
  <div class="progression-card">
    <h1>2</h1>
    <h2>Cours Terminés</h2>
  </div>

  <div class="progression-card">
    <h1>4</h1>
    <h2>Quizz Terminés</h2>
  </div>


  <div class="progression-card">
    <h1>78%</h1>
    <h2>Progression Globale</h2>
  </div>
  </div>



<div class="last-lesson">
  <img src="https://www.bricopro.fr/sites/default/files/styles/home_slider/public/universe/header-bricolage-iStock-1147804793.jpg?itok=hMNAUG16" />
  <div class="info-cours">
    <h2>COURS</h2>
  <div class="info-lesson">
    <h3>Comment poser du parquet ?</h3>
  </div>
  </div>
  <div class="btn-reprendre">
    REPRENDRE
  </div>
</div>
