<div class="container_homepage">

  <div class="custom-shape-divider-top-1638785480">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
      </svg>
  </div>


  <div class="entreprise">
    <h1>SKALLUP</h1>
    <p>Perfectionnez-vous en ligne sur votre métier.</p>
  </div>

  <div class="button_commencer">
    <%= link_to "Commencer", dashboard_path %>
  </div>


  <div class="presentation">
    <div class="text">
      <i class="fas fa-graduation-cap"></i>
      <h2>Une formation complète</h2>
      <p>Découvrez plus de 200 cours sur vos produits.</p>
    </div>

    <div class="text">
      <i class="fas fa-chalkboard-teacher"></i>
      <h2>Un accès illimité</h2>
      <p>Une formation en ligne accessible n'importe où, à n'importe quelle heure.</p>
    </div>

    <div class="text">
      <i class="far fa-check-circle"></i>
      <h2>Devenir un expert</h2>
      <p>Devenez plus efficace dans votre discours de vente et boostez vos ventes.</p>
    </div>

  </div>

</div>
