<div class="filter">

  <div class="filtre-text">
  Les cours sur le
    <button class="btn btn-secondary dropdown-toggle filter" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
      Choisissez un rayon
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Carrelage</a>
      <a class="dropdown-item" href="#">Parquet</a>
      <a class="dropdown-item" href="#">Sol souple</a>
    </div>
  </div>

  <div class="filtrer">
    <h2 class="filtre-text">Filtrer vos cours</h2>
    <h3 class="btn-filtre" id="tous">Tous</h3>
    <h3 class="btn-filtre" id="en-cours">En cours </h3>
    <h3 class="btn-filtre" id="termines">Terminés</h3>
  </div>

  <div class="difficulties">

    <div>
      <div class="dropdown-filter">
      <span class="filtre-text">Votre niveau</span>
        <button class="btn btn-secondary dropdown-toggle filter" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
          Tous
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Débutant</a>
          <a class="dropdown-item" href="#">Intermédiaire</a>
          <a class="dropdown-item" href="#">Difficile</a>
        </div>
      </div>
    </div>

    <div>
      <div class="dropdown-filter">
      <span class="filtre-text">Choisissez votre durée</span>
        <button class="btn btn-secondary dropdown-toggle filter" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
          Tous
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">15 min</a>
          <a class="dropdown-item" href="#">30 min</a>
          <a class="dropdown-item" href="#">45 min</a>
        </div>
      </div>
    </div>

  </div>

</div>




<div class="cards">
  <% @courses.each do |course| %>
      <div class = "card-product">
        <img src="https://latelier.bricoprive.com/wp-content/uploads/2019/12/Header-article-LAtelier-1.png" />
        <div class="card-product-infos">
          <h2><%= course.title %></h2>
          <ul class= "card-online">
            <li>
              <div class = "alignement m-3">
                <% if course.difficulty == "hard" %>
                    <i class="fas fa-hammer active"></i> <i class="fas fa-hammer active"></i> <i class="fas fa-hammer active"></i>
                <% elsif course.difficulty == "medium" %>
                    <i class="fas fa-hammer active"></i> <i class="fas fa-hammer active inactive"></i> <i class="fas fa-hammer inactive"></i>
                <% else %>
                    <i class="fas fa-hammer active"></i> <i class="fas fa-hammer inactive"></i> <i class="fas fa-hammer inactive"></i>
                <% end %>
                <p>Difficulté</p>
              </div>
            </li>
            <li><p id="style"> <%= course.duration %> min</p></li>
          </ul>
          <%= link_to 'DÉMARRER', course_path(course), class: "btn-cours" %>
        </div>
      </div>
  <% end %>
</div>
