.button-back {
  padding: 5px 30px;
  background: rgb(55,75,221);
  border-radius: 9px;
  width: fit-content;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: whitesmoke;
    }
  }
}
