.cards{
  display: inline;
}

.card-product {
  overflow: hidden;
  width: 80%;
  height: 270px;
  background: white;
  display: flex;
  align-items: center;
  margin: 70px 0px 70px 50px;
  border-radius: 10px;
  position: relative;
}


.card-product img {
  height: 100%;
  width: 290px;
  object-fit: cover;
}

.card-online .aligement{
  display: block;
}
.card-online{
  position: relative;
  display: flex;
  padding: 0;
  margin-top: 80px;
  li {
    display: inline;
    padding-right: 32px;
  }
}


.card-online i {
  font-size: 36px;
}
.card-product-infos h2 {
  font-size: 25px;
  margin-top: 29px;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

.card-online p {
  font-family: "Work Sans", "Helvetica", "sans-serif";
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 17px;
  color: #374BDD;
}

.card-product .card-product-infos {
  padding: 16px;
}



.btn-cours{
  position: absolute;
  right: 17px;
  color: white;
  padding: 10px 42px;
  border-radius: 8px;
  margin-top: -80px;
  background: rgb(121,109,226);
  background: linear-gradient(90deg, rgba(121,109,226,1) 0%, rgba(55,75,221,1) 100%);
  &:hover {
    text-decoration: none;
    color: white;
    background: rgb(121,109,226);
    background: linear-gradient(90deg, rgb(79, 71, 145) 0%, rgb(31, 42, 128) 100%);
  }
}


.active {
  color: black;
}

.inactive {
  color: whitesmoke;
}

#style {
  margin-top: 63px;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

@media (min-width: 768px) {
    .my-custom-container{
        width:600px;
    }
}

@media (min-width: 992px) {
    .my-custom-container{
        width:720px;
    }
}

@media (min-width: 1200px) {
    .my-custom-container{
        width:900px;
    }
}
