.container-castor {
  // background-color: red;
  width: 100%;
  position: relative;
  .image-text-castor {
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease-in;
  }
  img {
    position: absolute;
    width: 100px;
    right: 50%;
    top: 60px;
  }
  h2 {
    margin: 0 auto;
    width: fit-content;
    color: green;
    font-size: 34px;
  }

}



.button-finish {
  width: fit-content;
  padding: 15px 60px;
  margin: 50px auto;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  a {
    color: #3546DE;
    text-decoration: none;
    font-size: 22px;
    &:hover {
      color: #1e2774;
    }
  }
}


.duo-buttons {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}


.button-next-finish {
  background-color: none;
  padding: 15px 50px;
  color: #3546DE;
  a {
    color: #3546DE;
    text-decoration: none;
    font-size: 22px;
    &:hover {
      color: #1e2774;
    }
  }
}

.fas.fa-chevron-right {
  color: 3546DE;
  margin-left: 20px;
  font-size: 20px;
}
.fas.fa-chevron-left {
  color: 3546DE;
  margin-right: 20px;
  font-size: 20px;
}
