.last-lesson {
  overflow: hidden;
  height: 225px;
  background: white;
  display: flex;
  margin-top: 80px;
  border-radius: 10px;
  position: relative;
  width: 100%;
}

.last-lesson img {
  height: 100%;
  width: 325px;
  object-fit: cover;
}

.info-cours {
  margin-top: 20px;
  margin-left: 20px;
}

.info-cours > h3 {
  font-size: 27px;
}

.info {
  display: flex;
}

.btnreprendre {
  position: absolute;
  bottom: 30px;
  right: 130px;
  border-radius: 10px;
  padding: 10px 70px;
  color: white;
  background-color: #486AEA;
    &:hover {
      background-color: #7B88F3;
      text-decoration: none;
      color: white;
  }
}

a.btnreprendre {
  font-size: 17px;
}

.btnreprendre > h3 {
  margin: 0;
  padding: 0;
}

.info-cours > h2 {
  font-size: 22px;
}

.info-cours > h3 {
  font-size: 22px;
}
