.navbar {
  padding: 0px;
}

.main-navbar {
  background: #4049F4;
  width: 100%;
  position: relative;
  height: 200px;
}

.titre {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  position: absolute;
  right: 500PX;
  bottom: 55px;
  p {
    font-weight: lighter;
  }
}


.research-bar > h2 {
  a {
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    &:hover {
      color: #7B88F3;
    }
  }
}

.research-bar {
  text-align: center;
  margin-top: 10px;
}

.skallup {
  position: absolute;
  left: 34px;
  top: 28px;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  &:hover {
    color: #7B88F3
  }
}


.search-form-control {
  position: relative;
  margin-top: 20px;
}

.search-form-control .btn {
  position: absolute;
  top: 1px;
  right: 400px;
  background-color: white;
}

.search-form-control .form-control {
  height: 40px;
  width: 308px;
  margin: auto;
  border-radius: 7px;
  position: absolute;
  right: 25px;
  bottom: -40px;
  background-color: #5e66fd;
  border: #5e66fd;
}


.form-control .string .required::placeholder {
  color: white;
}


.search-form-control .form-control:focus {
  outline: none !important;
}

.form-control::placeholder {
  color: #4049F4;
}

.fa-bell {
  position: absolute;
  right: 347px;
  bottom: -30px;
  font-size: 19px;
  color: yellow;
}

.navbar-link {
  background-color: white;
  border-radius: 10px;
  width: 230px;
  height: 425px;
  border-radius: 10px;
  top: 105px;
  left: -5px;
  line-height: 40px;
  position: fixed;
}

.navbar-link li {
  margin-left: 10px;
  list-style: none;
}

.user {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 5px 20px 5px;
  align-items: center;
  margin-top: 15px;
}

.user img {
  border-radius: 50%;
  width: 50px;
}

.link-nav {
  margin-top: 10px;
}

.username {
  color: #313055;
  margin: 0;
  :hover {
    color: #7B88F3;
  }
}

.link-nav {
  color: #313055;
  :hover {
    color: #7B88F3;
  }
}
.link-nav li {
  a {
    text-decoration: none;
    color: #313055;
  }
}


.nav-unroll {
  width: 175px;
  background-color: white;
  position: absolute;
  left: 200px;
  bottom: -10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  a {
    text-decoration: none;
  }
}


.logout-link-nav {
  margin-top: 5px;
  background-color: #4049F4;
  padding: 15px 35px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#last-li {
  margin-bottom: 20px;
}
