.navbar {
  padding: 0px;
}

.main-navbar {
  background: rgb(123,136,243);
  background: linear-gradient(162deg, rgba(123,136,243,1) 19%, rgba(72,71,117,1) 100%);
  width: 100%;
  box-shadow: 0px 12px 21px -4px rgba(84,84,84,0.52);
  position: relative;
}

.research-bar > h2 {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  a {
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    &:hover {
      color: #1618a5;
    }
  }
}

.research-bar {
  text-align: center;
  margin-top: 10px;
}

.skallup {
  position: absolute;
  right: 25px;
  top: 0;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  &:hover {
    color: white
  }
}


.search-form-control {
  position: relative;
  margin-top: 20px;
}

.search-form-control .btn {
  position: absolute;
  top: 1px;
  right: 400px;
  background-color: white;
}

.search-form-control .form-control {
  height: 40px;
  width: 400px;
  margin: auto;
  border-radius: 7px;
}

.search-form-control .form-control:focus {
  outline: none !important;
}

.navbar-link {
  background-color: white;
  border-radius: 10px;
  width: 215px;
  height: 350px;
  border-radius: 10px;
  top: 40px;
  left: 30px;
  line-height: 40px;
  box-shadow: 3px 8px 17px 3px rgba(151,151,151,0.63);
  position: fixed;
}

.navbar-link li {
  margin-left: 10px;
  list-style: none;
}

.user {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 5px 20px 5px;
  align-items: center;
  margin-top: 15px;
  border-bottom: solid 1px rgba($color: #000000, $alpha: 0.1);
}

.user img {
  border-radius: 50%;
  width: 50px;
}

.link-nav {
  margin-top: 10px;
}

.username {
  color: #313055;
  margin: 0;
  :hover {
    color: #7B88F3;
  }
}

.link-nav {
  color: #313055;
  :hover {
      color: #7B88F3
    ;
  }
}
.link-nav li {
  a {
    text-decoration: none;
    color: #313055;
  }
}


.nav-unroll {
  width: 175px;
  background-color: white;
  position: absolute;
  left: 200px;
  bottom: -10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  a {
    text-decoration: none;
  }
}


.logout-link-nav {
  margin-top: 5px;
  background-color: #4c4b7d;
  padding: 15px 35px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#last-li {
  margin-bottom: 15px;
}
