.custom-shape-divider-top-1638533727 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1638533727 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 222px;
}

.custom-shape-divider-top-1638533727 .shape-fill {
    fill: #2A35D8;
}
