
.progress-bar-full {
  width: 1000px;
  height: 15px;
  background-color: whitesmoke;
  border-radius: 50px;
  margin: 0 auto ;
  display: flex;
  overflow: hidden;
}

.quizzprogress{
  width: 50%;
  background: rgb(255, 255, 255);
}

.master-progress {
  transition: 1s;
  background-color:#1CD0B7;
  opacity: 0.7;
}

.not-master-progress {
  transition: 1s;
  background-color: #D23333;
  opacity: 0.7;
}


.progress-container-quizz {
  background-color: red;
  position: relative;
  .progress-bar-full {
    position: absolute;
    right: 75px;
    top: 70px;
  }
  p {
    position: absolute;
    right: 0px;
    top: 0;
  }
}

.progress-container-quizz-version-carousel > .progress-bar-full {
    position: absolute;
    right: px;
    top: 100px;
}
