.progression-cards {
  display: flex;
  justify-content: space-between;
}


.progression-card {
  background: rgb(123,136,243);
  background: linear-gradient(180deg, rgba(123,136,243,1) 0%, rgba(35,57,114,1) 100%);
  width: 265px;
  height: 265px;
  padding: 50px;
  color: white;
  border-radius: 15px;
  box-shadow: 8px 8px 21px 0px #919191;
  h1 {
    margin-bottom: 25px;
    font-size: 78px;
  }
}
