.question-cards {
  border-radius: 12px;
  // box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: 0.3);
  width: 800px;
  height: 400px;
  margin: 150px auto;
  padding: 25px 50px;
  position: relative;
  margin-top: 50px;
  background-color: white;
  h2 {
    width: fit-content;
    margin: 0 auto ;
    margin-top: 40px;
    font-size: 48px;
    color: #535ADF;
    font-weight: bold;
  }
  h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 25px;
  }
}

.question-answer {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  padding: 5px 50px;
  align-items: center;

  a {
    margin: 0;
    font-size: 38px;
    text-decoration: none;
    color: white;
  }
}

.button-filter-v {
  background: rgb(34, 204, 57);
  // background: linear-gradient(180deg, rgba(55,75,221,1) 0%, rgba(122,110,226,1) 100%);
  color: white;
  font-weight: bold;
  padding: 2px 40px;
  &:hover {
    background: rgb(18, 135, 34);
  }
}

.button-filter-r {
  background: rgb(226, 17, 17);
  // background: linear-gradient(180deg, rgba(55,75,221,1) 0%, rgba(122,110,226,1) 100%);
  color: white;
  font-weight: bold;
  padding: 2px 40px;
  &:hover {
    background: rgb(165, 12, 12);
  }
}

#ajust {
  text-align: center;
  margin-top: 0px;
}

.progress-bar-full {
  margin-top: 30px;
}
