.start-button {
  padding: 0px 30px;
  background: #79dfab;
  border-radius: 9px;
  &:hover {
      color: white;
      text-decoration: none;
      background: #3d7457;
  }
}




.quizz-cards-index .start-button a {
    color: white;
    margin: 0;
    font-size: 25px;
    text-decoration: none;
    &:hover {
      color: white;
      text-decoration: none;
      background: #3d7457;
  }
}
