.start-button {
  padding: 0px 30px;
  background: #374bdd;
  border-radius: 9px;
}


.quizz-cards-index .start-button a {
    color: white;
    margin: 0;
    font-size: 25px;
    text-decoration: none;
    &:hover {
      color: whitesmoke;
      text-decoration: none;
  }
}
